* {
    box-sizing: border-box;
}

.defecto {
    background-color: white;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

